@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@200&family=Source+Sans+Pro&display=swap');

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
